[submodule "ip/verification/dphy_pkg"]
	path = ip/verification/dphy_pkg
	url = https://github.com/hellgate202/dphy_pkg
[submodule "ip/synthesis/dphy_interface"]
	path = ip/synthesis/dphy_interface
	url = https://github.com/hellgate202/dphy_interface
