[submodule "ip/dual_port_ram"]
	path = ip/dual_port_ram
	url = https://github.com/hellgate202/dual_port_ram.git
[submodule "lib/dphy_lib"]
	path = lib/dphy_lib
	url = https://github.com/hellgate202/dphy_lib.git
