[submodule "ip/verification/dphy_pkg"]
	path = ip/verification/dphy_pkg
	url = https://github.com/hellgate202/dphy_pkg
[submodule "ip/verification/dphy_interface"]
	path = ip/verification/dphy_interface
	url = https://github.com/hellgate202/dphy_interface.git
[submodule "ip/synthesis/dual_port_ram"]
	path = ip/synthesis/dual_port_ram
	url = https://github.com/hellgate202/dual_port_ram.git
[submodule "ip/synthesis/crc_calc"]
	path = ip/synthesis/crc_calc
	url = https://github.com/hellgate202/crc_calc
